body{
    font-family: sans-serif;
    margin-left: 70px;
}

h1{
    margin: 40px 0px 20px 0px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none; 
    color: black;
}

#title{
    font-size: 18px;
    font-weight: bold;
}