body{
  background-image: url("data/bkgd.png");
  color: #2c3582;
  background-color:#fff6a9;
  font-family: 'Amiko', sans-serif;
}


/* when window size is under 1200px */
@media screen 
and (max-width: 1200px)  { 
  width:1200px;
}



.header{
  margin: 0 auto;
  text-align: center;
  background-color:rgba(255,246,169,0.9);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  left: 0px;
  z-index: 5;
}

.header-name{
  margin-top: 1px;
  font-family: 'Baloo', cursive;
  font-size: 40px;
  color: #2c3582;
}
.header-blurb0{
  position: relative;
  font-family: 'Baloo', cursive;
  margin-top: -58px;
  font-size: 16px;
}
.header-blurb{
  text-align: center;
  margin-top: 15px;
  font-weight: 800;
  font-size: 16px;
}
.header-date0{
  font-family: 'Baloo', cursive;
  margin-top: -30px;
  margin-left: 10px;
  font-size: 24px;
}

.header-date{
/*   font-family: 'Baloo', cursive; */
  margin-top: -30px;
  margin-left: 10px;
  font-size: 14px;
}
.header-date-detail{
  margin-left: 10px;
  margin-top: -18px;
  font-size: 14px;
}
.menu{
  position: relative;
  top: 70px;
  width: 97%;
  margin: 0 15px;
}


/* style of individual music box */
.box {
  float: left;
  width: 170px;
  height: 265px;
  padding: 7px;
  margin: -5px 10px 10px 0;
  text-align: center;
  font-size: 10px;
/*   border-style: solid;
  border-width: 3px;
  border-color: #efe69e; */
  background-color: #efe69e;
  border-radius: 5px;
}


.box img{
  width: 170px;   
}

.flavor-text-position{
  position : relative;
  line-height: 210%;
  font-size: 15px;
}


/* check box style */
input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label span {
  z-index: 5;
  display:block;
  width:70px;
  height:70px;
  margin:0px 50px;
  margin-top: 3px;
  vertical-align:middle;
  background:url(http://xie.is/1.png) left top no-repeat;
  background-size: 140px ;
  background-repeat: no-repeat;
  cursor:pointer;
}

input[type="checkbox"]:checked + label span {
  background:url(http://xie.is/1.png) -70px top no-repeat;
  background-size: 140px;
  background-repeat: no-repeat;
}

/* when listening to the music show its flavor profile */
#flavor-profile1 {
  display: none;
  position : relative;
  margin:-174px 0 0 0 ;
  width: 170px;
  height: 170px;
  text-align: center;
  font-family: 'Baloo', cursive;
  color: #fbe839;
  background-color: rgba(44,53,130,0.8);

}
/* 
.box:hover #flavor-profile1 {
  display:block;
}

.box:hover #button-play1{
  background-color: rgba(44,53,130,0.8);
  display:block;
  }

  .box:hover #button-play1{
    display:none;
  } */

  #button-play1 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    /*   display: none; */
  }



  #flavor-profile2 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }

  .box:hover #flavor-profile2 {
    display:block;
  }

  .box:hover #button-play2{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play2 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }



  #flavor-profile3 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile3 {
    display:block;
  }

  .box:hover #button-play3{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play3 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }


  #flavor-profile4 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }

  .box:hover #flavor-profile4 {
    display:block;
  }

  .box:hover #button-play4{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play4 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }


  #flavor-profile5 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile5 {
    display:block;
  }

  .box:hover #button-play5{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play5 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }

  #flavor-profile6 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile6 {
    display:block;
  }

  .box:hover #button-play6{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play6 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }

  #flavor-profile7 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile7 {
    display:block;
  }

  .box:hover #button-play7{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play7 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }


  #flavor-profile8 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile8 {
    display:block;
  }

  .box:hover #button-play8{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play8 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }

    #flavor-profile9 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile9 {
    display:block;
  }

  .box:hover #button-play9{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play9 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }

    #flavor-profile10 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile10 {
    display:block;
  }

  .box:hover #button-play10{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play10 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }

    #flavor-profile11 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile11 {
    display:block;
  }

  .box:hover #button-play11{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play11 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }

    #flavor-profile12 {
    display: none;
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
    text-align: center;
    font-family: 'Baloo', cursive;
    color: #fbe839;
    background-color: rgba(44,53,130,0.8);
  }
  .box:hover #flavor-profile12 {
    display:block;
  }

  .box:hover #button-play12{
    background-color: rgba(44,53,130,0.8);
    display:none;
  }
  #button-play12 {
    position : relative;
    margin:-174px 0 0 0 ;
    width: 170px;
    height: 170px;
  }


  .scroll-space1{
    float: left;
    width: 97%;
    height: 290px;
  }

  /* ingredients section */

  .ingredients{
    position: fixed;
    left: 0px;
    bottom: 60px;
    height: 155px;
    width: 100%;
    background-color: #ffed70;
  }


  #description img{
    width: 95px;
    margin-top: 45px;
    margin-left: 24px;
    opacity: 0.7;

  }
  #description p{
    position: fixed;
    left: 130px; 
    bottom: 95px;
    font-size:  14px;
  }

  #ingredients-title{
    position: fixed;
    font-weight: bold;
    bottom: 170px;
    margin-left: 24px;
    font-size: 24px;
    font-family: 'Baloo', cursive;
  }


  #ingredientList{
    float: left;
    margin-top: 15px;
  }


  /* cancle button hover */
  #ingredientList:hover #button-cancle{
    background-color: rgba(44,53,130,0.7);
    display:block;
  }

  #button-cancle{
    display: none;
    position : fixed;
    bottom: 76px;
  }

  #ingredientList img{
    width: 90px;
    margin-top: 28px;
    margin-left: 24px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffed70;
    border-radius: 5px;
  }

  #ingredientList img:hover{
    border-style: solid;
    border-width: 3px;
    border-color: #a31b3e;
  }





  /* bottom link style */


  #nextpagelink-button{
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    z-index:-1;
  }
  .profile{
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #fbe839;
    color: #2c3582;
    font-size: 18px;
    cursor:pointer;
    font-weight: bold;
  }
  .profile:before {
    content: "TRANSCODE >";
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    position: absolute;
    z-index:0;
    top: 0;  left: 0;  right: 0;  bottom: 0;
    color: #fbe839;
    background-color: #2c3582;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
  }
  .profile:hover:before{transform: scaleX(1);}

  .profile1{
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #fbe839;
    color: #2c3582;
    font-size: 18px;
    cursor:pointer;
    font-weight: bold;
  }
  .profile1:before {
    content: "< TRY AGAIN";
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    position: absolute;
    z-index:0;
    top: 0;  left: 0;  right: 0;  bottom: 0;
    color: #fbe839;
    background-color: #2c3582;
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform .3s ease-out;
  }
  .profile1:hover:before{transform: scaleX(1);}

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }


#timerhide{
  color: #fff6a9;
}





  /* page1 */
  /* progress bar */
  .page2-content{
    width: 98%;
  }

  .page1-border{
    position: relative;
    float: left;
    padding: 15px;
    margin-left: 3%;
    margin-bottom: 10%;
    width: 45%;
    top: 120px;
    background-color: #ffed70;
    border-radius: 5px;
  }

  .page2-border{
    position: relative;
    float: right;
    padding: 15px;
    margin-right: 2%;
    margin-bottom: 10%;
    width: 45%; 
    top: 120px;
    /* background-color: #efe69e; */
    background-color: #ffed70;
    border-radius: 5px;
  }

  .page1-title{
    font-size: 16px;
  }

  .progress {
    background: rgba(255, 255, 255, 1); 
    border: 0px solid rgba(255, 255, 255, 1); 
    border-radius: 5px; 
    margin: 10px;
    height: 30px; 
    width:95%;}
    #progress-bar-custom1 {background: #ff8490; line-height: 30px;}
    #progress-bar-custom2 {background: #d4d700; line-height: 30px;}
    #progress-bar-custom3 {background: #134c1c; line-height: 30px;}
    #progress-bar-custom4 {background: #336594; line-height: 30px;}
    #progress-bar-custom5 {background: #c62500; line-height: 30px;}



    .page1-ingredient{
      margin-top: 50px;
      width: 95%;
    }
    /* ingredients style */
    #page1-ingredient-list{
      padding-left: 10px; 
      font-size: 35px;
      font-family: 'Baloo', cursive;
      background-color: #fbe839;
    }
    .page1-ingredient-button{
      border: none;
      text-decoration: none;
      border-radius: 5px;
      padding: 3px 10px;
      background-color: #2c3582;
      color: #fbe839;
      font-size: 12px;
      margin-left: 5px;
    }

    .page1-search{
      margin-top: 50px;
      margin-bottom: 20px;
      width: 90%;

    }
    .age1-search-google{
      color: black;
    }

    .page2-journal{
      margin-top: 50px;
    }

    .page2-title{  font-size: 16px;
    }

    .page2-journal img{
      padding-left: 10px; }

      .page2-journal-descrip{
        margin: 10px 45px 10px 25px;
      }
